[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
[submodule "themes/HugoMDL"]
	path = themes/HugoMDL
	url = https://github.com/tygerbytes/HugoMDL.git
